[Unit]
Description=Release until the specific program is running

[Service]
Type=oneshot
ExecStart=/usr/bin/checkprocess -program=%i
RemainAfterExit=true

[Install]
WantedBy=default.target
